*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f5f5f5;
}

p {
    margin: 0;
    padding: 0;
}

.page-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    width: 268px;
    background-color: #ffffff;
    padding: 22px 24px;
    border-radius: 16px;
}
.card-top {
    position: relative;
    width: 220px;
    height: 320px;
}
.card-badge-new {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #0CB477;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 16px;
}
.card-image {
    width: 220px;
    height: 320px;
    object-fit: cover;
}
.card-badge-discount {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 1px 6px;
    background-color: #FDEEF9;
    border-radius: 8px;
    color: #CB11AB;
    font-weight: bold;
    font-size: 12px;
}
.card-badge-ad {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 2px 8px;
    width: 73px;
    height: 24px;
    background-color: #CB11AB;
    color: #fff;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-bottom {
    margin-top: 20px;
}
.card-price {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 8px;
}
.card-currentprice {
    font-size: 18px;
    font-weight: 400;
    color: #242424;
    letter-spacing: -0.2px;
    line-height: 22px;
}
.card-originalprice {
    font-size: 14px;
    font-weight: 400;
    color: #8B8B8B;
    text-decoration: line-through;
    letter-spacing: -0.4px;
    line-height: 20px;
}
.card-name {
    font-size: 14px;
    font-weight: 500;
    color: #999999;
    padding-top: 2px;
    letter-spacing: -0.2px;
    line-height: 20px;
}
.card-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding-top: 6px;
}
.card-stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}
.card-star-icon {
    width: 15px;
    height: 15px;
    display: block;
}
.card-reviews {
    font-size: 14px;
    font-weight: 500;
    color: #999999;
    line-height: 20px;
    letter-spacing: -0.2px;
}
.card-delivery {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    padding-top: 6px;
}
.card-delivery-text {
    font-size: 14px;
    font-weight: 500;
    color: #999999;
    line-height: 20px;
    letter-spacing: -0.2px;
}
.card-deliverytime {
    font-size: 14px;
    font-weight: 700;
    color: #242424;
    line-height: 20px;
}